<div class="topnav" id="myTopnav">
    <a href="/" class="nav01">INICIO</a>
    <a href="/sobremi" class="nav01">Sobre mí</a>
    <a href="/formacion" class="nav02">Formación</a>
    <a href="/portfolio" class="nav01">Portfolio</a>
    <a href="/contacto" class="nav02">Contacto</a>   
</div>