<!DOCTYPE html>
<html>

<!-- Head -->
<%- include('partials/head') %>

    <body>

        <!-- Navbar -->
        <%- include('partials/navbar') %>

        <div class="contenedorGeneral">
           <%- include('pages/portfolio') %> 
        </div>
            

        <!-- Footer -->
        <%- include('partials/footer') %>

    </body>

</html>