<div id="contenedorContacto01">
    <div id="contenedorContacto02">
        <div id="formulario">
            <h1 id="h1Contacto">Contacto</h1>
            <form action="/action_page.php">
                <label for="fnombre"></label>
                <input class="ingreso" type="text" id="nombre" name="nombre" required placeholder="Nombre"><br><br>
                <label for="email"></label>
                <input class="ingreso" type="email" id="email" name="email" required
                    placeholder="email@correo.com"><br><br>
                <label for="lname"></label>
                <textarea class="ingreso" name="comentario" placeholder="Escribe tu mensaje"></textarea><br><br>
                <input id="enviarFormulario" type="submit" value="Enviar">
            </form>
        </div>
        <div id="redesSociales">
            <a href="" class="redes">Instagram</a>
            <a href="" class="redes"> Facebook</a>
            <a href="" class="redes">Twitter</a>
            <a href="" class="redes">LinkedIn</a>
        </div>
    </div>
</div>