<div id="baseFor">
    <h1>Formación <br> Conocimientos técnicos y habilidades</h1>
    <ul>
        <h1 class="h1Formacion">&#60&#47&#62 Desarrollo FrontEnd (lado del cliente) </h1>
        <ul class="ulFormacion">
            <li>Html</li>
            <li>Ccs3</li>
            <li>Javascript</li>
            <li>Responsive Web Design (Diseño adaptable) </li>
            <li>UX/UI - Experiencia de Usuario. Interfaz de Usuario.</li>
            <li>Accesibilidad y Usabilidad</li>
            <li>Programas: Visual Studio Code, Photoshop CS6</li>
        </ul>
        <h1 class="h1Formacion">&#9636 Desarrollo BackEnd (lado del servidor)</h1>
        <ul class="ulFormacion">
            <li>Node.js</li>
            <li>Express</li>
        </ul>
        <h1 class="h1Formacion">&#8981 Posicionamiento SEO</h1>
        <ul class="ulFormacion">
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
        <h1 class="h1Formacion">&#8983 Redes Sociales</h1>
        <ul class="ulFormacion">
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>Linkedin</li>
        </ul>
    </ul>
</div>