<div class="contenedor">
    <div class="elemento">
        <div id="contenedorBotonesSup">
            <input class="boton1" id="botonA" type="button" value="Sobre Mí" onclick="sobreMi()">
            <input class="boton2" id="botonB" type="button" value="Formación" onclick="formacion()">
        </div>
        <div id="contenedorBotonesInf">
            <input class="boton2" id="botonC" type="button" value="Portfolio" onclick="portfolio()">
            <input class="boton1" id="botonD" type="button" value="Contacto" onclick="contacto()">
        </div>
    </div>
</div>