<div id="baseSob">
    <h1 id="sobreMiATitulo1">Sobre mí</h1>
    <br>
    <h2 id="sobreMiATitulo2">¿Como soy?</h2>
    <div id="sobreMiB">
        <p>Soy una persona entusiasta enfocada en plantearse nuevos desafíos y metas, con una
            predilección
            por
            el trabajo en equipo, pero con la habilidad de poder desempeñar también tareas en solitario,
            tengo
            un método de trabajo orientado a resultados, amplia disposición a nuevas técnicas y
            proactividad
            para la solución de problemas. </p>
        <p>Continuamente aprendiendo y adquiriendo nuevas habilidades en función a las actuales y
            futuras
            demandas y tendencias tecnológicas en el campo del diseño y desarrollo de aplicaciones web
            en
            general. </p>
        <p>Apasionado con el trabajo que realizo, ofreciendo y aportando mis conocimientos, habilidades
            y
            experiencia, así como nuevas ideas, soluciones, personalización y seguimiento de calidad al
            cliente
            y su objetivo en cada proyecto. </p>
    </div>
</div>